<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'meta.html' %}
  {% include 'analytics.html' %}

</head>

<body>

  {% include 'header.html' %}

  {% raw %}
  <main id="vue-outer">
    <div :class="'wrapper_outer' + (anonymous ? ' anonymous' : '')">
      <div style="display: none" v-show="init_error">
        <div class="error">
          <p>
            {{ init_error }}
          </p>
        </div>
      </div>
      <div class="not_ready" style="display: none" v-show="! ready && ! init_error">
        <div class="lds-grid">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>
          Connecting to server...
        </p>
      </div>

      <div class="nodes-panel" style="display: none" v-show="ready && ! anonymous">
        <div class="not_ready" v-if="! status">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <p>Loading status ...</p>
        </div>
        <div class="error" v-if="status && status.err">
          <p>
            Error loading validator node status.
          </p>
        </div>
        <template v-if="status && status.rows">
          <div class="node-status" v-for="row in status.rows">
            <div class="node-status-left">
              <div class="node-indicator">
                <svg width="100%" version="1.1" viewBox="0 0 29.459 49.278" xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(-73.619 -82.509)">
                    <path d="m73.659 88.399v39.344l20.543 4.0436v-39.344z" fill="#939dac" stroke-width=".26458" />
                    <path d="m73.619 88.399 10.287-5.89 19.172 3.896-8.9091 6.0539z" fill="#6f7c91"
                      stroke-width=".26458" />
                    <g fill="#535d6c" stroke-width=".26458">
                      <path d="m94.171 92.447 0.03054 39.309 8.6765-5.8876 0.08-39.464z" />
                      <path d="m74.79 93.6v3.268l18.253 3.7043v-3.2679z" />
                      <path d="m74.79 97.784v3.268l18.253 3.7043v-3.268z" />
                      <path d="m74.79 102.08v3.268l18.253 3.7043v-3.268z" />
                    </g>
                    <g fill="#b7bec8">
                      <path d="m75.754 108.18v17.502l16.214 3.1476-0.10966-17.303z" stroke-width=".26458" />
                      <g stroke-width=".26766">
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="78.56" y="76.815" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="79.432" y="76.807" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="80.324" y="76.802" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="78.606" y="80.934" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="79.478" y="80.925" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="80.37" y="80.934" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="78.654" y="85.262" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="79.526" y="85.253" width=".62995"
                          height="2.1544" ry=".28635" />
                        <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="80.418" y="85.262" width=".62995"
                          height="2.1544" ry=".28635" />
                      </g>
                    </g>
                    <rect class="orange" transform="matrix(.9832 .18253 -.096504 .99533 0 0)" x="96.132" y="75.51"
                      width="2.2085" height="1.2627" ry=".59192" fill="#ffa700" stroke-width=".24612" />
                    <rect transform="matrix(.9832 .18253 -.096504 .99533 0 0)" x="99.021" y="75.49" width="2.2085"
                      height="1.2627" ry=".59192" fill="#888" stroke-width=".24612" />
                    <rect class="blink" transform="matrix(.9832 .18253 -.096504 .99533 0 0)" x="99.021" y="75.49"
                      width="2.2085" height="1.2627" ry=".59192" fill="#5f5" stroke-width=".24612" />
                  </g>
                </svg>
              </div>
            </div>
            <div class="node-status-right">
              <dl class="props">
                <dt>Node properties</dt>
                <dd class="node-name"><span class="label">Node:</span> <span class="nodeval-name">{{ row.name
                    }}</span></dd>
                <dd class="node-did"><span class="label">DID:</span> <span class="nodeval-did">{{ row.did
                    }}</span></dd>
                <dd class="node-state" v-if="row.state"><span class="label">State:</span> <span class="nodeval-state">{{
                    row.state }}</span></dd>
                <dd class="node-uptime"><span class="label">Uptime:</span> <span class="nodeval-uptime">{{
                    row.uptime }}</span></dd>
                <dd class="node-txns"><span class="label">Txns:</span> <span class="nodeval-txns">{{ row.txns
                    }}</span></dd>
                <!-- <dd class="node-unreach" v-if="row.unreachable"><span class="lavel">Unreachable hosts:</span>
                  <span class="nodeval-unreach">{{ row.unreachable }}</span>
                </dd> -->
                <dd class="node-indyver"><span class="label">indy-node version:</span> <span class="nodeval-indyver">{{
                    row.indy_version }}</span></dd>
              </dl>
            </div>
          </div>
          <template v-if="status.rows[0].unreachable">
            <div class="node-status dead" v-for="dead in status.rows[0].unreachable.split(', ')">
              <div class="node-status-left">
                <div class="node-indicator">
                  <svg width="100%" version="1.1" viewBox="0 0 29.459 49.278" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(-73.619 -82.509)">
                      <path d="m73.659 88.399v39.344l20.543 4.0436v-39.344z" fill="#939dac" stroke-width=".26458" />
                      <path d="m73.619 88.399 10.287-5.89 19.172 3.896-8.9091 6.0539z" fill="#6f7c91"
                        stroke-width=".26458" />
                      <g fill="#535d6c" stroke-width=".26458">
                        <path d="m94.171 92.447 0.03054 39.309 8.6765-5.8876 0.08-39.464z" />
                        <path d="m74.79 93.6v3.268l18.253 3.7043v-3.2679z" />
                        <path d="m74.79 97.784v3.268l18.253 3.7043v-3.268z" />
                        <path d="m74.79 102.08v3.268l18.253 3.7043v-3.268z" />
                      </g>
                      <g fill="#b7bec8">
                        <path d="m75.754 108.18v17.502l16.214 3.1476-0.10966-17.303z" stroke-width=".26458" />
                        <g stroke-width=".26766">
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="78.56" y="76.815"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="79.432" y="76.807"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="80.324" y="76.802"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="78.606" y="80.934"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="79.478" y="80.925"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="80.37" y="80.934"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="78.654" y="85.262"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="79.526" y="85.253"
                            width=".62995" height="2.1544" ry=".28635" />
                          <rect transform="matrix(.97475 .22329 -.010815 .99994 0 0)" x="80.418" y="85.262"
                            width=".62995" height="2.1544" ry=".28635" />
                        </g>
                      </g>
                      <rect class="" transform="matrix(.9832 .18253 -.096504 .99533 0 0)" x="96.132" y="75.51"
                        width="2.2085" height="1.2627" ry=".59192" fill="#888" stroke-width=".24612" />
                      <rect transform="matrix(.9832 .18253 -.096504 .99533 0 0)" x="99.021" y="75.49" width="2.2085"
                        height="1.2627" ry=".59192" fill="#888" stroke-width=".24612" />
                      <rect class="" transform="matrix(.9832 .18253 -.096504 .99533 0 0)" x="99.021" y="75.49"
                        width="2.2085" height="1.2627" ry=".59192" fill="#ff2d2d" stroke-width=".24612" />
                    </g>
                  </svg>
                </div>
              </div>
              <div class="node-status-right">
                <dl class="props">
                  <dt>Node properties</dt>
                  <dd class="node-name"><span class="label">Node:</span> <span class="nodeval-name">{{
                      dead.replace(/,/g, '') }}</span></dd>
                  <dd class="node-unreach"><span class="label">Status:</span>
                    <span class="nodeval-unreach error">Host Unreachable</span>
                  </dd>
                </dl>
              </div>
            </div>
          </template>
        </template>
      </div>
      <!-- <p>
              View detailed information about the status of the running validator nodes:
            </p>
            <p>
              <a href="/status/text" class="tool"><span class="fa fa-chevron-right left"></span>Detailed Status</a>
            </p> -->
      <div class="detail-hero">
        <div class="detail-hero-left">
          <div>
            <p>
              View detailed information about the status of the running validator nodes:
            </p>
          </div>
          <div class="button"><a href="/status/text" class="button-link">Detailed Status</a></div>
        </div>
        <div class="detail-hero-right">
          <img src="/include/img/v2v.webp" alt="v2v">
        </div>
      </div>

      <!-- <div class="columns-1 md:columns-2">
          <div class="panel panel-default panel-ledger-status" style="display: none" v-show="ready">
            <div class="panel-heading">
              <h2>
                <span class="fa fa-sitemap"></span>
                Ledger State
              </h2>
            </div>
            <div class="panel-body">
              <div class="panel panel-node" v-if="syncing">
                <div class="panel-body loading">
                  <p>
                    <span class="fa fa-info-circle"></span> Fetching transactions
                  </p>
                </div>
              </div>
              <p>
                View the state of the ledgers:
              </p>
              <p>
                <a href="/browse/domain" class="tool"><span class="fa fa-chevron-right left"></span>Domain</a>
                <br>
                <a href="/browse/pool" class="tool"><span class="fa fa-chevron-right left"></span>Pool</a>
                <br>
                <a href="/browse/config" class="tool"><span class="fa fa-chevron-right left"></span>Config</a>
              </p>
            </div>
          </div>

          <div class="margin-bottom:7px;">
            <div class="panel panel-default connect">
              <div class="panel-heading">
                <h2>
                  <span class="fa fa-plug"></span>
                  Connect to the Network
                </h2>
              </div>
              <div class="panel-body">
                <p>
                  Download the genesis transaction file to connect to the network.
                </p>
                <div class="form-group" style="margin-bottom: 48px;">
                  <a href="/genesis" class="tool-button"><span class="fa fa-download left"></span>Genesis
                    Transaction</a>
                  <span class="tool-tag">JSON</span>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      <!-- <div class="panel panel-default authorize" v-if="register_new_dids">
          <div class="panel-heading">
            <h2>
              <span class="fa fa-key"></span>
              Authenticate a New DID
            </h2>
          </div>
          <div class="panel-body" v-show="true">
            <p>
              Easily write a new DID to the ledger for new identity owners.
            </p>
            <form action="/register" method="get" accept-charset="utf-8" @submit.prevent="register">
              <div class="form-group">
                <input type="radio" value="seed" v-model="reg_info.reg_type" id="reg-seed">
                  <label for="reg-seed" class="tool-label inline">Register from seed</label>
                &nbsp; <input type="radio" value="did" v-model="reg_info.reg_type" id="reg-did">
                  <label for="reg-did" class="tool-label inline">Register from DID</label>
              </div>
  
              <div class="form-group" v-if="reg_info.reg_type == 'seed'">
                <label class="tool-label">Wallet seed (32 characters or base64)</label>
                <input
                  class="tool-input wallet-seed"
                  type="text"
                  name="seed"
                  v-model="reg_info.seed"
                  required
                >
              </div>
              <div class="form-group">
                <label class="tool-label">DID <template v-if="reg_info.reg_type == 'seed'">(optional)</template></label>
                <input
                  class="tool-input wallet-seed"
                  type="text"
                  name="did"
                  v-model="reg_info.did"
                  :required="reg_info.reg_type == 'did'"
                >
              </div>
              <div class="form-group" v-if="reg_info.reg_type == 'did'">
                <label class="tool-label">Verkey</label>
                <input
                  class="tool-input wallet-seed"
                  type="text"
                  name="verkey"
                  v-model="reg_info.verkey"
                  required
                >
              </div>
              <div class="form-group">
                <label class="tool-label">Alias (optional)</label>
                <input
                  class="tool-input wallet-seed"
                  type="text"
                  name="alias"
                  v-model="reg_info.alias"
                >
              </div>
              <div class="form-group">
                <label class="tool-label">Role</label>
                <select name="role" v-model="reg_info.role">
                  <option value="">(None)</option>
                  <option v-for="opt in role_options" :value="opt.value">{{opt.label}}</option>
                </select>
              </div>
              <div class="form-group">
                <button class="tool-button" type="submit" name="register"><span class="fa fa-sign-in left"></span>Register DID</button>
              </div>
            </form>
  
            <div class="register-result" v-if="reg_result">
              <h3>Identity successfully registered:</h3>
              <code>
                <span v-if="reg_result.seed"><b>Seed: </b> {{reg_result.seed}}<br></span>
                <b>DID: </b> {{reg_result.did}}<br>
                <b>Verkey:</b> {{reg_result.verkey}}
              </code>
            </div>
            <div class="error register-error" v-if="reg_error">
              Error: identity not registered.
            </div>
          </div>
        </div> -->
    </div>
  </main>
  {% endraw %}

  <script src="include/js/index.js" type="text/javascript"></script>
</body>

</html>